* {
    background-color:#e6e7e8;
    font-family: "Montserrat", serif;
    color: #1e459c;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1e459c;
}

h1 {
    background-color: #1e459c;
    color: rgb(5, 172, 135);
    padding: 0 0 0 10px;
}

#contact h2 {
     background-color: white;
}
/*Navbar Code*/
nav {
    display: flex;
    justify-content: space-between;
    background-color: #1e459c;
}

nav ul {
    list-style-type: none;
    background-color: #1e459c;
}

nav ul li {
    display: inline-block;
    margin: 0.3em 1em;
    background-color: #1e459c;
}

nav ul li a {
    display: inline-block;
    margin: 0.3em 1em;
    text-decoration: none;
    background-color: #1e459c;
    color: white;
}

nav ul li a:hover {
    color: rgb(5, 172, 135);
}

section {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    scroll-snap-align: start;
}
/*Home Section Code*/
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*About Me Section Code*/
#aboutme {
    padding: 50px;
    text-align: center;
    background-color:white;
}

#abtmeh2 {
    margin-bottom: 20px;
    background-color: white;
}

#me {
    background-color: white;
    line-height: 1.75;
    max-width: 950px;
}

.abtcontainer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.abtcontainer picture img {
    width: 350px;
    height: 380px;
    border-radius: 10%;
    border: 5px solid #1e459c;
}
/*Projects Section Code*/
#projects {
    flex-direction: column;
}
/*Contact Me Form Section Code*/
#contact {
    flex-direction: column;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 20px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    background-color: white;
    border: 1px solid #1e459c;
}

input, textarea {
    width: 95%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #1e459c;
    margin-bottom: 15px;
    background-color: white;
}

label {
    background-color: white;
}

.req {
    color: red;
    background-color: white;
}
button {
    width: 98%;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    background-color: #1e459c;
    color: white;
    border: 1px ;
}

button:hover {
    background-color: rgb(5, 172, 135);
}

span {
    background-color: white;
}

output {
    background-color: white;
}

input:user-valid, textarea:user-valid {
    border-color: green;
}

input:user-invalid, textarea:user-invalid {
    border-color: red;
}


.error-message {
    color: red;
    display: none;
    font-size: 15px;
}

input:user-invalid + .error-message {
    display: block;
    font-size: 14;
}

textarea:user-invalid + .error-message {
    display: block;
    font-size: 14px;
}

@media (max-width: 600px) {
    nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
    }

    img {
        width: 80%;
        filter: brightness(90%) contrast(110%);
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    nav {
        flex-direction: row;
    }

    img {
        width: 80%;
        filter: brightness(90%) contrast(110%);
    }
}

@media (min-width: 1025px) {
    nav ul {
        display: flex;
    }

    nav button {
        display: none;
    }
}

#cmeh2 {
    background-color: white;
}

#pemail {
    background-color: white;
}

hgroup h2, hgroup p{
    background-color: white;
}

a {
    background-color: white;
}

li a {
    font-size: 18px;
}

picture {
    background-color: white;
}

strong {
    background-color: white;
}

em {
    background-color: white;
}

abbr {
    background-color: white;
}

footer p {
    text-align: center;
}